.banner {
    background-image: url('../../images/emprendedor.jpg');
    background-size: cover;
    background-position: right;
    color: white !important;
    padding: 120px 0;
}


.banner >div {
   padding: 30px;
}


.banner h1 {
margin: 0;    
}

.banner p {
margin: 0;
padding-bottom: 30px;    
}